<div class="container">
  <footer class="footer">

    <small>
      Copyright &copy; <a href="https://6freelance.com">www.6freelance.com</a>
      by Varinder Boparai
    </small>

    <nav>
      <ul>
        <li><%= link_to "About", about_path %> </li>
      </ul>
    </nav>
  </footer>

</div>